{% extends "base.html" %}

{% block head_title %}Aide / {{ page.title }}{% endblock %}

{% block page_title %}
    <div class="d-flex flex-row justify-content-end">
        <h1 class="mr-auto"><a href="/aide/"><i class="aide"></i>Aide</a> / {{ page.title }}</h1>
        <form class="form-inline chosen-mod" action="/aide/" method="post">
            <div class="form-group h-100 mr-4">
            <input type="text" class="form-control" name="recherche" maxlength="150" id="aide_search" placeholder="Rechercher">
            </div>
            <button class="btn btn-primary" type="submit"><i class="rechercher"></i></button>
        </form>
        <h1 class="ml-5"><a href="/aide/" title="Retour au sommaire" data-toggle="tooltip"><i class="retour"></i></a></h1>
    </div>
{% endblock %}

{% block content %}
    {%  include 'aide/badge_role_departement.html' with object=page %}
    {{ page.get_content_html }}
    {% for note in notes %}
        <h2 class="title-note">{{ note.title }}
        {%  include 'aide/badge_role_departement.html' with object=note %}
        </h2>
        {{ note.get_content_html }}
    {% endfor %}
{% endblock %}
