{% extends "base.html" %}
{% load split_tags verbose_tags %}

{% block head_title %}Aide / {{ page.title }}{% endblock %}

{% block page_title %}
    <div class="d-flex flex-row justify-content-end">
        <h1 class="mr-auto"><a href="/aide/"><i class="aide"></i>Aide</a> / {{ page.title }}</h1>
        <form class="form-inline chosen-mod" action="/aide/" method="post">
            <div class="form-group h-100 mr-4">
            <input type="text" class="form-control" name="recherche" maxlength="150" id="aide_search" placeholder="Rechercher">
            </div>
            <button class="btn btn-primary" type="submit"><i class="rechercher"></i></button>
        </form>
        <h1 class="ml-5"><a href="/aide/" title="Retour au sommaire" data-toggle="tooltip"><i class="retour"></i></a></h1>
    </div>
    {% if count %}{%  include 'aide/badge_role_departement.html' with object=page %}{% endif %}
{% endblock %}

{% block content %}
    {{ page.get_contentbefore_html }}
    {% if count != 1 %}
        <!-- bof Nav tabs -->
        <ul class="nav nav-tabs">
            {% for group in groups %}
                <li class="nav-item">
                    <a class="nav-link {% if activ_tab == group %}active{% endif %}" href="#tab_{{ group|slugify }}" aria-controls="home" role="tab" data-toggle="tab">{{ group }}</a></li>
            {% endfor %}
        </ul>
        <!-- eof Nav tabs -->

        <!-- bof Tab -->
        <div class="tab-content">
            {% for group in groups %}
                <div role="tabpanel" class="tab-pane {% if activ_tab == group %}active{% endif %}" id="tab_{{ group|slugify }}">

                    <!-- bof Panels -->
                    <div class="panel-group" id="accordion_{{ group|slugify }}" role="tablist" aria-multiselectable="true">
                        {% for panel in panels %}
                            {% if panel.tab.title == group %}
                                <!-- bof One panel -->
                                <div class="panel ">
                                    <div class="panel-heading" role="tab" id="heading{{ panel.pk }}">
                                        <h4 class="panel-title">
                                            <a role="button"
                                               data-toggle="collapse"
                                               href="#collapse{{ panel.pk }}"
                                               aria-expanded="true" aria-controls="collapse{{ panel.pk }}">
                                                <i class="deplier"></i> {{ panel.title|safe }}
                                            </a>
                                        </h4>
                                    </div>
                                    <div id="collapse{{ panel.pk }}"
                                         class="panel-collapse collapse{% if focus == panel.pk %} show {% endif %}"
                                         data-parent="#accordion_{{ group|slugify }}"
                                         role="tabpanel"
                                         aria-labelledby="heading{{ panel.pk }}">
                                        <div class="panel-body">
                                            {%  include 'aide/badge_role_departement.html' with object=panel %}
                                            {{ panel.content|safe }}
                                            <a href="/aide/{{ page.path}}/{{ panel.pk }}" class="permalink">
                                                <i class="lien"></i></a>
                                        </div>
                                    </div>
                                </div>
                                <!-- eof One panel -->
                            {% endif %}
                        {% empty %}
                            <div>
                                La rubrique est en cours de rédaction.<br>
                                Nous vous invitons à tenter de la consulter à nouveau ultérieurement.
                            </div>
                        {% endfor %}
                    </div>
                    <!-- eof Panels -->
                </div>
            {% endfor %}
        </div>
        <!-- eof Tab -->
    {% else %}
        <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
            {% for item in panels %}
                <!-- bof One panel -->
                <div class="panel ">
                    <div class="panel-heading" role="tab" id="heading{{ item.pk }}">
                        <h4 class="panel-title">
                            <a role="button"
                               data-toggle="collapse"
                               href="#collapse{{ item.pk }}"
                               aria-expanded="true" aria-controls="collapse{{ item.pk }}">
                                <i class="deplier"></i> {{ item.title|safe }}
                            </a>
                        </h4>
                    </div>
                    <div id="collapse{{ item.pk }}"
                         class="panel-collapse collapse{% if focus == item.pk %} show {% endif %}"
                         role="tabpanel"
                         data-parent="#accordion"
                         aria-labelledby="heading{{ item.pk }}">
                        <div class="panel-body">
                            {{ item.content|safe }}
                            <a href="/aide/{{ page.path}}/{{ item.pk }}" class="permalink">
                                <i class="lien"></i></a>
                        </div>
                    </div>
                </div>
                <!-- eof One panel -->
            {% empty %}
                <div>
                    La rubrique est en cours de rédaction.<br>
                    Nous vous invitons à tenter de la consulter à nouveau ultérieurement.
                </div>
            {% endfor %}
        </div>
    {% endif %}
    {{ page.get_contentafter_html }}

{% endblock %}
