{% extends "account/base.html" %}


{% load i18n %}

{% block head_title %}Inscriptions fermées{% endblock %}
{% block page_title %}
    <h1>Inscriptions fermées</h1>
{% endblock %}

{% block content %}
    <p>Veuillez nous excuser, les inscriptions sont actuellement fermées.</p>
{% endblock %}
