{% extends "base_form.html" %}

{% load crispy_forms_tags %}
{% load i18n %}
{% load static %}

{% block head_title %}
    {% if manifestation %}
        Demande de complément d'information pour la manifestation "{{ manifestation }}"
    {% else %}
        Envoi de complément d'information pour la manifestation "{{ object.manifestation }}"
    {% endif %}
{% endblock %}

{% block page_title %}
    {% if manifestation %}
        <h1>Demande de complément d'information pour la manifestation "{{ manifestation }}"</h1>
    {% else %}
        <h1>Envoi des documents suivants : <small>{{ object.desired_information }}</small></h1>
    {% endif %}
{% endblock %}
