{% load i18n %}

{% if type == 'dnm' %}
    <i class="sans-vtm"></i>
    <i class="voie-publique"></i>
    <i class="sans-competition"></i>
    <i class="nombreux-participants"></i>
{% endif %}
{% if type == 'anm' %}
    <i class="sans-vtm"></i>
    <i class="voie-publique"></i>
    <i class="competition"></i>
{% endif %}
{% if type == 'avtm' %}
    <i class="vtm"></i>
    <i class="voie-publique"></i>
    <i class="competition"></i>
{% endif %}
{% if type == 'avtmc' %}
    <i class="vtm"></i>
    <i class="voie-publique"></i>
    <i class="sans-competition"></i>
{% endif %}
{% if type == 'avtmcir' %}
    <i class="vtm"></i>
    <i class="hors-voie-publique"></i>
    <i class="sans-competition"></i>
{% endif %}
