{% extends "evaluations/evaluation_detail.html" %}

{% load i18n %}

{% block maj %}
    {% ifequal user object.structure.organisateur.user %}
        {% if not object.processing and not export %}
            <div class="card-body text-right">
                <a href="{% url 'evaluations:natura2000evaluation_update' evaluation.pk %}"
                   class="btn btn-primary" role="button ">Mettre à jour
                </a>
            </div>
        {% endif %}
    {% endifequal %}
{% endblock %}

{% block associated_evaluation %}
    Évaluation natura 2000 associée
{% endblock %}


{% block daynight %}
    {% if evaluation.diurnal %}
        <li class="list-group-item">Manifestation diurne : {{ evaluation.diurnal|yesno|title }}</li>
    {% endif %}
    {% if evaluation.nocturnal %}
        <li class="list-group-item">Manifestation nocturne : {{ evaluation.nocturnal|yesno|title }}</li>
    {% endif %}
{% endblock %}


{% block sites %}
    {% if evaluation.sites.first %}
        <div class="card-header">
            Sites natura 2000 concernés
        </div>
        <ul class="list-group mb-3">
            {% for site in evaluation.sites.all %}
                <li class="list-group-item">- {{ site }}</li>
            {% endfor %}
            <li class="list-group-item">Distance par rapport au site NATURA 2000 : {{ evaluation.range_from_site }} km</li>
        </ul>
    {% endif %}
{% endblock %}


{% block area_of_influence %}
    <div class="card-header">
        État des lieux de la zone d'influence
    </div>
    <ul class="list-group mb-3">
        {% if evaluation.rnn %}
            <li class="list-group-item">Réserve Naturelle Nationale : {{ evaluation.rnn|yesno|title }}</li>
        {% endif %}
        {% if evaluation.rnr %}
            <li class="list-group-item">Réserve Naturelle Régionale : {{ evaluation.rnr|yesno|title }}</li>
        {% endif %}
        {% if evaluation.biotope_area %}
            <li class="list-group-item">Arrêté de Protection de Biotope : {{ evaluation.biotope_area|yesno|title }}</li>
        {% endif %}
        {% if evaluation.classified_site %}
            <li class="list-group-item">Site Classé : {{ evaluation.classified_site|yesno|title }}</li>
        {% endif %}
        {% if evaluation.registered_site %}
            <li class="list-group-item">Site Inscrit : {{ evaluation.registered_site|yesno|title }}</li>
        {% endif %}
        {% if evaluation.pnr %}
            <li class="list-group-item">Parc Naturel Régional : {{ evaluation.pnr|yesno|title }}</li>
        {% endif %}
        {% if evaluation.znieff %}
            <li class="list-group-item">ZNIEFF : {{ evaluation.znieff|yesno|title }}</li>
        {% endif %}
    </ul>
{% endblock %}


{% block natural_habitats %}
    <div class="card-header">
        Impacts potentiels sur les milieux naturels
    </div>
    <ul class="list-group mb-3">
        {% if evaluation.lawn or evaluation.lawn_comments %}
            <li class="list-group-item">Pelouse : {{ evaluation.lawn|yesno|title }}
                {% if evaluation.lawn_comments %}
                    - {{ evaluation.lawn_comments|capfirst }}
                {% endif %}
            </li>
        {% endif %}
        {% if evaluation.semi_wooded_lawn or evaluation.semi_wooded_lawn_comments %}
            <li class="list-group-item">Pelouse semi-boisée : {{ evaluation.semi_wooded_lawn|yesno|title }}
                {% if evaluation.semi_wooded_lawn_comments %}
                    - {{ evaluation.semi_wooded_lawn_comments|capfirst }}
                {% endif %}
            </li>
        {% endif %}
        {% if evaluation.moor or evaluation.moor_comments %}
            <li class="list-group-item">Lande : {{ evaluation.moor|yesno|title }}
                {% if evaluation.moor_comments %}
                    - {{ evaluation.moor_comments|capfirst }}
                {% endif %}
            </li>
        {% endif %}
        {% if evaluation.scrubland_maquis or evaluation.scrubland_maquis_comments %}
            <li class="list-group-item">Garrigue/Maquis : {{ evaluation.scrubland_maquis|yesno|title }}
                {% if evaluation.scrubland_maquis_comments %}
                    - {{ evaluation.scrubland_maquis_comments|capfirst }}
                {% endif %}
            </li>
        {% endif %}
        {% if evaluation.coniferous_forest or evaluation.coniferous_forest_comments %}
            <li class="list-group-item">Forêt de résineux : {{ evaluation.coniferous_forest|yesno|title }}
                {% if evaluation.coniferous_forest_comments %}
                    - {{ evaluation.coniferous_forest_comments|capfirst }}
                {% endif %}
            </li>
        {% endif %}
        {% if evaluation.deciduous_forest or evaluation.deciduous_forest_comments %}
            <li class="list-group-item">Forêt de feuillus : {{ evaluation.deciduous_forest|yesno|title }}
                {% if evaluation.deciduous_forest_comments %}
                    - {{ evaluation.deciduous_forest_comments|capfirst }}
                {% endif %}
            </li>
        {% endif %}
        {% if evaluation.mixed_forest or evaluation.mixed_forest_comments %}
            <li class="list-group-item">Forêt mixte : {{ evaluation.mixed_forest|yesno|title }}
                {% if evaluation.mixed_forest_comments %}
                    - {{ evaluation.mixed_forest_comments|capfirst }}
                {% endif %}
            </li>
        {% endif %}
        {% if evaluation.plantation or evaluation.plantation_comments %}
            <li class="list-group-item">Plantation : {{ evaluation.plantation|yesno|title }}
                {% if evaluation.plantation_comments %}
                    - {{ evaluation.plantation_comments|capfirst }}
                {% endif %}
            </li>
        {% endif %}
        {% if evaluation.cliff or evaluation.cliff_comments %}
            <li class="list-group-item">Falaise : {{ evaluation.cliff|yesno|title }}
                {% if evaluation.cliff_comments %}
                    - {{ evaluation.cliff_comments|capfirst }}
                {% endif %}
            </li>
        {% endif %}
        {% if evaluation.outcrop or evaluation.outcrop_comments %}
            <li class="list-group-item">Affleurement rocheux : {{ evaluation.outcrop|yesno|title }}
                {% if evaluation.outcrop_comments %}
                    - {{ evaluation.outcrop_comments|capfirst }}
                {% endif %}
            </li>
        {% endif %}
        {% if evaluation.scree or evaluation.scree_comments %}
            <li class="list-group-item">Éboulis : {{ evaluation.scree|yesno|title }}
                {% if evaluation.scree_comments %}
                    - {{ evaluation.scree_comments|capfirst }}
                {% endif %}
            </li>
        {% endif %}
        {% if evaluation.blocks or evaluation.blocks_comments %}
            <li class="list-group-item">Blocs : {{ evaluation.blocks|yesno|title }}
                {% if evaluation.blocks_comments %}
                    - {{ evaluation.blocks_comments|capfirst }}
                {% endif %}
            </li>
        {% endif %}
        {% if evaluation.ditch or evaluation.ditch_comments %}
            <li class="list-group-item">Fossé : {{ evaluation.ditch|yesno|title }}
                {% if evaluation.ditch_comments %}
                    - {{ evaluation.ditch_comments|capfirst }}
                {% endif %}
            </li>
        {% endif %}
        {% if evaluation.watercourse or evaluation.watercourse_comments %}
            <li class="list-group-item">Cours d'eau : {{ evaluation.watercourse|yesno|title }}
                {% if evaluation.watercourse_comments %}
                    - {{ evaluation.watercourse_comments|capfirst }}
                {% endif %}
            </li>
        {% endif %}
        {% if evaluation.pound or evaluation.pound_comments %}
            <li class="list-group-item">Étang : {{ evaluation.pound|yesno|title }}
                {% if evaluation.pound_comments %}
                    - {{ evaluation.pound_comments|capfirst }}
                {% endif %}
            </li>
        {% endif %}
        {% if evaluation.bog or evaluation.bog_comments %}
            <li class="list-group-item">Tourbière : {{ evaluation.bog|yesno|title }}
                {% if evaluation.bog_comments %}
                    - {{ evaluation.bog_comments|capfirst }}
                {% endif %}
            </li>
        {% endif %}
        {% if evaluation.gravel or evaluation.gravel_comments %}
            <li class="list-group-item">Gravière : {{ evaluation.gravel|yesno|title }}
                {% if evaluation.gravel_comments %}
                    - {{ evaluation.gravel_comments|capfirst }}
                {% endif %}
            </li>
        {% endif %}
        {% if evaluation.wet_meadow or evaluation.wet_meadow_comments %}
            <li class="list-group-item">Prairie humide : {{ evaluation.wet_meadow|yesno|title }}
                {% if evaluation.wet_meadow_comments %}
                    - {{ evaluation.wet_meadow_comments|capfirst }}
                {% endif %}
            </li>
        {% endif %}
    </ul>
{% endblock %}


{% block species %}
    <div class="card-header">
        Impacts potentiels sur les espèces
    </div>
    <ul class="list-group mb-3">
        {% if evaluation.amphibia or evaluation.amphibia_species %}
            <li class="list-group-item">Amphibiens : {{ evaluation.amphibia|yesno|title }}
                {% if evaluation.amphibia_species %}
                    - {{ evaluation.amphibia_species|capfirst }}
                {% endif %}
            </li>
        {% endif %}
        {% if evaluation.reptiles or evaluation.reptiles_species %}
            <li class="list-group-item">Réptiles : {{ evaluation.reptiles|yesno|title }}
                {% if evaluation.reptiles_species %}
                    - {{ evaluation.reptiles_species|capfirst }}
                {% endif %}
            </li>
        {% endif %}
        {% if evaluation.crustaceans or evaluation.crustaceans_species %}
            <li class="list-group-item">Crustacés : {{ evaluation.crustaceans|yesno|title }}
                {% if evaluation.crustaceans_species %}
                    - {{ evaluation.crustaceans_species|capfirst }}
                {% endif %}
            </li>
        {% endif %}
        {% if evaluation.insects or evaluation.insects_species %}
            <li class="list-group-item">Insectes : {{ evaluation.insects|yesno|title }}
                {% if evaluation.insects_species %}
                    - {{ evaluation.insects_species|capfirst }}
                {% endif %}
            </li>
        {% endif %}
        {% if evaluation.terrestrial_mammals or evaluation.terrestrial_mammals_species %}
            <li class="list-group-item">Mammifères terrestres : {{ evaluation.terrestrial_mammals|yesno|title }}
                {% if evaluation.terrestrial_mammals_species %}
                    - {{ evaluation.terrestrial_mammals_species|capfirst }}
                {% endif %}
            </li>
        {% endif %}
        {% if evaluation.birds or evaluation.birds_species %}
            <li class="list-group-item">Oiseaux : {{ evaluation.birds|yesno|title }}
                {% if evaluation.birds_species %}
                    - {{ evaluation.birds_species|capfirst }}
                {% endif %}
            </li>
        {% endif %}
        {% if evaluation.plants or evaluation.plants_species %}
            <li class="list-group-item">Plantes : {{ evaluation.plants|yesno|title }}
                {% if evaluation.plants_species %}
                    - {{ evaluation.plants_species|capfirst }}
                {% endif %}
            </li>
        {% endif %}
        {% if evaluation.fish or evaluation.fish_species %}
            <li class="list-group-item">Poissons : {{ evaluation.fish|yesno|title }}
                {% if evaluation.fish_species %}
                    - {{ evaluation.fish_species|capfirst }}
                {% endif %}
            </li>
        {% endif %}
    </ul>
{% endblock %}

{% block conclusion %}
    {{ block.super }}
    <li class="list-group-item">Ce formulaire permet de conclure à l'absence d'incidence significative sur
        le ou les sites NATURA 2000 concernés par la manifestation : {{ evaluation.natura_2000_conclusion|yesno|title }}</li>
{% endblock %}
