{% extends "base_form.html" %}

{% load i18n static %}

{% block head_title %}Localisation de la manifestation par rapport aux sites RNR{% endblock %}
{% block page_title %}
    <h1>Localisation de la manifestation par rapport aux sites RNR</h1>
{% endblock %}

{% block extra_js %}
    <script src='{% static 'libs/autogrow/jquery.ns-autogrow.min.js' %}' type="text/javascript"></script>
    <script src='{% static 'evaluations/js/evaluation-form.js' %}' type="text/javascript"></script>
{% endblock %}
