{% load i18n file_tags thumbail_filter %}

<ul class="list-group">
    {% for document in object.instruction.documents.all %}
        <li class="list-group-item">
            <i class="{{ document.get_nature_icon }}"></i>
            <span style="font-weight: bold; font-size: large">{{ document.get_nature_nom }}</span>
            <blockquote>
                Déposé le : {{ document.date_depot }}<br>
                par : {{ document.utilisateur }}<br>
                Fichier : <a href="{{ document.fichier.url }}" target="_blank">{{ document.fichier|basename }}</a>&nbsp;&nbsp;
                <span data-toggle="tooltip" data-placement="auto" data-html="true" class="badge badge-info"
                      title="<img src='{{ document.fichier|thumbnail }}'>"><i class="deplier no-right-margin text-white"></i>
                </span>
            </blockquote>
        </li>
    {% endfor %}
</ul>
