{% load i18n %}
<li class="nav-item"><a class="nav-link link_onglet" href="#descriptioncarto" data-toggle="tab">
        <i class="carto"></i>Cartographie</a></li>
{% if object.rnrevaluations or object.rnrevaluation %}
    <li class="nav-item"><a class="nav-link link_onglet " href="#rnr" data-toggle="tab">
        <i class="feuille"></i>EI simplifée RNR</a></li>
{% endif %}
{% if object.natura2000evaluations or object.n2kevaluation %}
    <li class="nav-item">
        <a class="nav-link link_onglet" href="#natura2000" data-toggle="tab">
            <i class="feuille"></i>EI simplifiée Natura 2000
            {% if object.natura2000evaluations and not object.natura2000evaluations.natura_2000_conclusion or object.n2kevaluation and not object.n2kevaluation.conclusion_natura_2000 %}
                &nbsp;<i class="action-requise"></i>
            {% endif %}
        </a>
    </li>
{% endif %}
{% if  request.user.organisateur and not 'instruction' in request.path  %}
    <li class="nav-item" id="pieceajoindreajax"><a class="nav-link link_onglet" href="#pieceajoindre" data-toggle="tab">
        <i class="doc"></i>Pièces jointes</a></li>
{% else %}
    {% if 'instruction' in request.path %}
    <li class="nav-item"><a class="nav-link link_onglet" href="#piecejointe" data-toggle="tab">
        <i class="doc"></i>Pièces jointes</a></li>
    {% endif %}
{% endif %}
{% if object.documentscomplementaires.count > 0 %}
    <li class="nav-item"><a class="nav-link link_onglet" href="#additionaldata" data-toggle="tab">
        <i class="doc"></i> Document complémentaire ({{object.documentscomplementaires.count}})</a></li>
{% endif %}
{% if object.instruction.documents.count > 0 %}
    <li class="nav-item"><a class="nav-link link_onglet" href="#officialdata" data-toggle="tab">
        <i class="arrete"></i> Documents officiels ({{object.instruction.documents.count}})</a></li>
{% endif %}
{% if request.user.instructeur or request.user.agent or request.user.agentlocal %}
    {% if object.actions.count > 0 or object.notifications.count > 0 %}
        <li class="nav-item"><a class="nav-link link_onglet" href="#historiquedata" data-toggle="tab">
            <i class="historique"></i> Historique</a></li>
    {% endif %}
{% endif %}
 <li class="nav-item"><a class="nav-link link_onglet" id="link_mail" href="#mail_de_manif" data-toggle="tab">
     <i class="message"></i> Messagerie</a></li>


<script>

    // ici on met la manifestation et les info de son organisateur
    var manif="{{ object.pk }}";
    var orga = {
        pk : "{{ object.structure.organisateur.user.pk }}",
        nom: "{{ object.structure.organisateur.user.get_full_name }}"
    }
    $('.link_onglet').click(function (e) {
        if ($(this).attr('id')=='link_mail'){
            $('#panneau_gauche').attr('class', 'col-sm-12');
            $('#panneau_droite').css('display','none');
        }
        else {
            $('#panneau_gauche').attr('class', 'col-sm-8');
            $('#panneau_droite').css('display', 'block');
        }
    })

</script>