<ul class="list-group mb-3">
    {% if object.parcours_openrunner %}
        {% for route_id, route_name in object.get_parcours_manif.items %}
            {% if not route_id == 'erreur' %}
                <li class="list-group-item">
                    {% if user.organisateur %}
                        {% if request.resolver_match.namespace == "evenements" %}
                            <a href="{% url 'carto:route_view' route_ids=route_id role='organizer' %}" target="_blank">{{ route_name }}</a>
                        {% endif %}
                    {% endif %}
                    {% if user.instructeur or user.agent or user.agentlocal %}
                        {% if request.resolver_match.namespace == "instructions" or request.resolver_match.namespace == "agreements" or request.resolver_match.namespace == "sub_agreements" %}
                            <a href="{% url 'carto:route_instructor' route_ids=route_id role='instructor' %}" target="_blank">{{ route_name }}</a>
                        {% endif %}
                    {% endif %}
                </li>
            {% else %}
                <li class="list-group-item">
                    <span style="color: red;">{{ route_name }}</span>
                </li>
            {% endif %}
        {% endfor %}
    {% else %}
        <li class="list-group-item">
            Pas de parcours cartographie de parcours pour cette manifestation
        </li>
    {% endif %}
    <li class="list-group-item"> Description des parcours : {{ object.descriptions_parcours|linebreaksbr }}</li>
</ul>