{% load i18n %}

{% block event_description %}{% endblock %}
<div id="descriptioncarto" class="card tab-pane fade">
    {% include './description_carto.html' with manif=object %}
</div>
{% if object.rnrevaluations %}
    <div id="rnr" class="card tab-pane fade">
        {% include 'evaluations/rnrevaluation_detail.html' with evaluation=object.rnrevaluations %}
    </div>
{% endif %}
{% if object.rnrevaluation %}
    <div id="rnr" class="card tab-pane fade">
        {% include 'evaluation_incidence/evaluationrnr_detail.html' with evaluation=object.rnrevaluation %}
    </div>
{% endif %}
{% if object.natura2000evaluations %}
    <div id="natura2000" class="card tab-pane fade">
        {% include 'evaluations/n2kevaluation_detail.html' with evaluation=object.natura2000evaluations %}
    </div>
{% endif %}
{% if object.n2kevaluation %}
    <div id="natura2000" class="card tab-pane fade">
        {% include 'evaluation_incidence/evaluationn2k_detail.html' with evaluation=object.n2kevaluation %}
    </div>
{% endif %}
{% if  request.user.organisateur and not 'instruction' in request.path  %}
<div id="pieceajoindre" class="card tab-pane fade">
    <div class="pieceajoindre p-4"><i class="spinner"></i> chargement en cours...</div>
</div>
{% else %}
<div id="piecejointe" class="card tab-pane fade">
    {% include './piecejointe.html' %}
</div>
{% endif %}
{% if object.documentscomplementaires.count > 0 %}
    <div id="additionaldata" class="card tab-pane fade">
        {% include './documentcomplementaire_detail.html' %}
    </div>
{% endif %}
{% if object.instruction.documents.count > 0 %}
    <div id="officialdata" class="card tab-pane fade">
        {% include './documentofficiel_detail.html' %}
    </div>
{% endif %}
{% if object.actions.count > 0 or object.notifications.count > 0 %}
    <div id="historiquedata" class="card tab-pane fade">
        {% include 'notifications/historique_vide.html' %}
    </div>
{% endif %}
<div id="mail_de_manif" class="card  tab-pane fade">
        {% include 'evenements/panneaux/messagerie_manif.html' %}
    </div>



