<div class='well'>
    <p>
        Renseigner les tableaux ci-dessous en fonction de vos connaissances : vous pouvez vous aider en
        téléchargeant les fiches synthétiques propres à chaque site présentes sur le site internet de la DDT de la Loire.
    </p>
    <a href="{{ target }}" target='_blank'>Liste des sites natura 2000 par communes</a>
</div>
