{% extends "base.html" %}

{% load i18n sports_tags %}

{% block page_title %}
    <h1>Liste des féderations configurées par discipline</h1>
{% endblock %}

{% block content %}
    <div class="d-flex flex-row justify-content-end mb-4">
        {% if not dept_user %}
            <div class="mr-4"><h2>Voir la configuration appliquée pour un département :</h2></div>
            <form class="form-inline chosen-mod" action="/sports/disciplines/federations/" method="get">
                <div class="form-group h-100 mr-4">
                    <select class="form-control" id="dept" name="dept">
                        <option value=""> ----- </option>
                        {% for nb, dept in liste_dept %}
                            {% if nb == request.GET.dept %}
                                <option selected value="{{ nb }}">{{ dept }}</option>
                            {% else %}
                                <option value="{{ nb }}">{{ dept }}</option>
                            {% endif %}
                        {% endfor %}
                    </select>
                </div>
                <button class="btn btn-primary" type="submit">Envoyer</button>
            </form>
        {% else %}
            <div class="mr-4"><h2>Configuration du département : {{ dept_user }}</h2></div>
        {% endif %}
    </div>
    <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
        {% for discipline in object_list %}
            <div class="col col-10 panel">
                <div class="panel-heading" role="tab" id="heading{{ discipline.pk }}">
                    <h4 class="panel-title">
                        <a role="button"
                           data-toggle="collapse"
                           href="#collapse{{ discipline.pk }}"
                           aria-expanded="true" aria-controls="collapse{{ discipline.pk }}">
                            <i class="fas fa-plus"></i> {{ discipline }}
                        </a>
                    </h4>
                </div>
                <div id="collapse{{ discipline.pk }}"
                     class="panel-collapse collapse{% if focus == discipline.pk %} show {% endif %}"
                     role="tabpanel"
                     data-parent="#accordion"
                     aria-labelledby="heading{{ discipline.pk }}">
                    <div class="panel-body">
                        National :<br/>
                        {% for federation in federations %}
                            {% if discipline in federation.disciplines.all %}
                                {% if federation.is_national %}
                                    &nbsp;&nbsp;&nbsp;&nbsp;<i class="fas fa-minus" style="color:#9aa400;"></i>
                                    <span {% if federation.nb_user_actif == 0 %}style="color: red"{% endif %}>
                                        &nbsp;&nbsp;&nbsp;&nbsp;{{ federation.name }}
                                        <span class="float-right">
                                            ( agents actifs {{ federation.nb_user_actif }}, nonactifs {{ federation.nb_user_nonactif }} )
                                        </span><br/>
                                    </span>
                                {% endif %}
                            {% endif %}
                        {% endfor %}
                        Régional :<br/>
                        {% for federation in federations %}
                            {% if discipline in federation.disciplines.all %}
                                {% if federation.is_regional %}
                                    {% if federation in liste_federations %}
                                        &nbsp;&nbsp;&nbsp;&nbsp;<i class="fas fa-minus" style="color:#9aa400;"></i>
                                        <span {% if federation.nb_user_actif == 0 %}style="color: red"{% endif %}>
                                            &nbsp;&nbsp;&nbsp;&nbsp;{{ federation.region|label_region}} : {{ federation.name }}
                                            <span class="float-right">
                                                ( agents actifs {{ federation.nb_user_actif }}, nonactifs {{ federation.nb_user_nonactif }} )
                                            </span><br/>
                                        </span>
                                    {% endif %}
                                {% endif %}
                            {% endif %}
                        {% endfor %}
                        Départemental :<br/>
                        {% for federation in federations%}
                            {% if discipline in federation.disciplines.all %}
                                {% if federation.is_departemental %}
                                    {% if federation in liste_federations %}
                                        &nbsp;&nbsp;&nbsp;&nbsp;<i class="fas fa-minus" style="color:#9aa400;"></i>
                                        <span {% if federation.nb_user_actif == 0 %}style="color: red"{% endif %}>
                                            &nbsp;&nbsp;&nbsp;&nbsp;{{ federation.departement }} : {{ federation.name }}
                                            <span class="float-right">
                                                ( agents actifs {{ federation.nb_user_actif }}, nonactifs {{ federation.nb_user_nonactif }} )
                                            </span><br/>
                                        </span>
                                    {% endif %}
                                {% endif %}
                            {% endif %}
                        {% endfor %}
                     </div>
                </div>
            </div>
        {% endfor %}
    </div>
{% endblock %}
