{% load i18n file_tags thumbail_filter %}

<div class="card bg-light">
    <div class="card-header cursor-pointer hover-dark" id="heading{{ object.pk }}">
        <div class="" data-toggle="collapse" data-target="#collapse{{ object.pk }}"
             aria-expanded="false" aria-controls="collapse{{ object.pk }}">
            {% if not object.avis %}
                <i class="avis"></i> {{ object|capfirst }}
            {% else %}
                <i class="preavis"></i> {{ object|capfirst }}
            {% endif %}

            <span class="float-right">
                {% if object.date_reponse %}
                    {% if object.favorable %} <i class="ok left-margin"></i>
                    {% endif %}
                    {% if not object.favorable %}
                        <i class="pas-ok left-margin"></i> {% endif %}
                    {% if object.prescriptions %} <i class="commentaire"></i> {% endif %}
                    {% if object.docs.all %} <i class="doc"></i> {% endif %}
                {% else %}
                    <i class="attente left-margin"></i>
                {% endif %}
            </span>
        </div>
    </div>

    <div id="collapse{{ object.pk }}" class="collapse" aria-labelledby="heading{{ object.pk }}"
         data-parent="#accordion">
        <div class="card-body">
            <ul class="list-group">
                {% if object.agent or object.agentlocal %}
                    <li class="list-group-item">
                        Dernier intervenant : {{ object.agent.get_full_name }}{{ object.agentlocal.get_full_name }}
                    </li>
                {% endif %}
                <li class="list-group-item">
                    {% if not object.avis %}
                        Date de demande de l'avis :
                    {% else %}
                        Date de demande du pré-avis :
                    {% endif %}
                    {{ object.date_demande }}
                </li>
                {% if not object.avis %}
                    <li class="list-group-item">
                        Avis attendu avant le
                        {{ object.get_date_limite|date }} <i class="ctx-help-date_limite_avis"></i>
                    </li>
                {% endif %}
                {% if object.service_concerne == 'ggd' and object.etat == 'transmis' %}
                    <li class="list-group-item">
                        L'avis a été délégué à {{ object.get_instance.get_departement.edsr }}
                    </li>
                {% endif %}
                {% if object.etat == 'formaté' or object.etat == 'rendu' %}
                    {% if object.etat == 'rendu' %}
                        <li class="list-group-item">
                            {% if object.avis %}
                                Date de rendu du pré-avis :
                            {% else %}
                                Date de rendu de l'avis :
                            {% endif %}
                            {{ object.date_reponse|default_if_none:"Pas encore rendu" }}
                        </li>
                    {% else %}
                        <li class="list-group-item">L'avis est en cours de finalisation</li>
                    {% endif %}
                    <li class="list-group-item">
                        Favorable : {{ object.favorable|yesno|title }}
                    </li>
                    <li class="list-group-item">
                        Contenu de l'avis : {{ object.prescriptions|linebreaks }}
                    </li>
                    {% if object.docs.all %}
                        <div class="mt-2 mb-2">Pièces jointes :</div>
                    {% endif %}
                    {% for doc in object.docs.all %}
                        <li class="list-group-item">
                            <a href="{{ doc.fichier.url }}" target="_blank">{{ doc.fichier|basename }}</a>&nbsp;&nbsp;
                            <span data-toggle="tooltip" data-placement="auto" data-html="true" class="badge badge-info"
                                  title="<img src='{{ doc.fichier|thumbnail }}'>"><i class="deplier no-right-margin text-white"></i>
                            </span>
                            {%  if object.avis and not doc.exist_piece_jointe %}
                                <a href="{% url 'instructions:avis_ajout_fichier' pk=object.pk %}?doc={{ doc.pk }}" class="btn btn-primary float-right " role="button" id="{{ doc.pk }}">
                                    <i class="suivi"></i> Transférer le document sur l'avis
                                </a>
                            {%  endif %}
                            {%  if not object.avis and not doc.exist_document_officiel and object.etat == 'rendu' %}
                                <a href="#" class="btn btn-primary float-right bt-transf-pj-vers-doc-officiel" role="button" id="{{ doc.pk }}">
                                    <i class="arrete"></i> Transférer en document officiel
                                </a>
                                <div id="form-transf-pj-vers-doc-officiel{{ doc.pk }}"></div>
                            {%  endif %}
                        </li>
                    {% endfor %}
                {% elif object.etat == 'distribué' %}
                    <li class="list-group-item">Le ou les préavis ont été envoyés </li>
                {% else %}
                    {% if not object.avis %}
                        <li class="list-group-item">L'avis est en cours d'examen</li>
                    {% else %}
                        <li class="list-group-item">Le préavis est en cours d'examen</li>
                    {% endif %}
                {% endif %}
                {% if object.instruction.etat != 'autorisée' and object.instruction.etat != 'annulée' %}
                    {% if not object.avis %}
                        <li class="list-group-item">
                            {% if  object.etat != 'rendu' %}
                                <a class="btn btn-warning" href="{% url 'instructions:avis_resend' pk=object.pk %}" role="button">
                                    <i class="envoyer"></i>Envoyer à nouveau la demande d'avis</a>
                            {% endif %}
                            {% if  object.etat == 'demandé' %}
                                <a class="btn confirmer_annulation btn-danger float-right" style="display: none;"
                                   href="{% url 'instructions:avis_remove' pk=object.pk %}">Confirmer l'annulation</a>
                                <a class="btn annulation btn-outline-danger" style="float: right;"
                                   href="">Annuler cette demande d'avis</a>
                            {% endif %}
                        </li>
                    {% else %}
                        {% if  request.user.agent %}
                            <li class="list-group-item">
                                {% if object.etat != 'rendu' %}
                                    <a class="btn btn-warning" href="{% url 'instructions:preavis_resend' pk=object.pk %}" role="button">
                                        <i class="envoyer"></i>Envoyer à nouveau la demande de préavis</a>
                                {% endif %}
                                {% if  object.etat == 'demandé' %}
                                    <a class="btn confirmer_annulation btn-danger float-right" style="display: none;"
                                       href="{% url 'instructions:prevavis_remove' pk=object.pk %}">Confirmer l'annulation</a>
                                    <a class="btn annulation btn-outline-danger" style="float: right;"
                                       href="">Annuler cette demande de préavis</a>
                                {% endif %}
                            </li>
                        {% endif %}
                    {% endif %}
                {% endif %}
            </ul>
        </div>
    </div>

</div>


<script>
    $('.annulation').click(function (e) {
        e.preventDefault();
        $('.annulation').hide();
        $('.confirmer_annulation').show();
    });
    $('.card-header').click(function (e) {
        $('.annulation').show();
        $('.confirmer_annulation').hide();
    })

</script>
