{% load crispy_forms_tags i18n static %}

    <link href="{% static 'libs/chosen/chosen.min.css' %}" rel='stylesheet' type='text/css'>
    <script src="{% static 'libs/chosen/chosen.jquery.min.js' %}" type="text/javascript"></script>

{% block head_title %}{% endblock %}

{% block content %}

        {% if form.errors %}
            <div class="alert alert-danger">
                <strong>Attention : </strong>Certains champs sont obligatoires et doivent être renseignés<br/>
                <ul>
                    {% if form.non_field_errors %}
                        <li>{{ form.non_field_errors }}</li>
                    {% endif %}
                    {% for field in form %}
                        {% if field.errors %}
                            <li><strong>{{ field.label }}</strong> : {{ field.errors.0 }}</li>
                        {% endif %}
                    {% endfor %}
                </ul>
            </div>
        {% endif %}

        {% block form %}
            {{ form.media }}
            {% crispy form %}
        {% endblock %}

<script>
    // To style all <select>s
    $('.selectchosen').chosen({
        placeholder_text_multiple: 'Laissez vide pour tous',
        no_results_text: "Aucun résultat avec : ",
    });


</script>

{% endblock %}
