{% extends "base_form.html" %}

{% load i18n %}
{% load static %}

{% block head_title %}
    {% if publier %}
        Publication du document officiel
    {% elif creer %}
        Demander l'instruction
    {% else %}
        Instruction de manifestation sportive
    {% endif %}
{% endblock %}

{% block page_title %}
    <h1>
    {% if publier %}
        Publication du document officiel pour la manifestation
    {% elif creer %}
        <i class="envoyer"></i>Demander l'instruction
    {% else %}
        <i class="autorisation"></i>Instruction de manifestation sportive
    {% endif %}
    : {{ object.manif|capfirst }}
    </h1>
{% endblock %}
