{% if user.is_authenticated or group %}
  <div class="btn btn-primary" id="webpush-subscribe-button" {% if group %}data-group="{{ group }}"{% endif %} data-url="{{ webpush_save_url }}">
    Abonnez-vous aux notifications Push
  </div>
  <div id="webpush-message" hidden></div>
{% endif %}
