{% extends "base_form.html" %}

{% load i18n %}

{% block head_title %}
    Déclaration de manifestation
{% endblock %}

{% block page_title %}
    <h1><i class="declaration"></i> Déclaration de manifestation : {{ object.manifestation|capfirst }}</h1>
{% endblock %}
