{% extends "base.html" %}


{% load i18n %}

{% block head_title %}
    Déclaration de Manifestation
{% endblock %}

{% block page_title %}
    <div class="row">
        <div class="col-sm-2">
            <i class="declaration"></i>Déclaration <br>
            <i class="date"></i> {{ object.manifestation.begin_date|date:"d/m/Y" }}
        </div>
        <div class="col-sm-7">
            <i class="structure"></i> {{ object.manifestation.structure|capfirst }}<br>
            <i class="dossier"></i> {{ object.manifestation|capfirst }}
        </div>
        <div class="col-sm-3 text-right">
            {% include 'events/event_picto.html' %}
        </div>
    </div>
{% endblock %}

{% block content %}
    <div class="row">
        <div class="col-sm-8">
            <ul class="nav nav-pills">
                <li class="nav-item"><a class="nav-link active" href="#declaration" data-toggle="pill"><i class="suivi"></i> Suivi de l'instruction</a></li>
                <li class="nav-item"><a class="nav-link" href="#event" data-toggle="pill"><i class="detail"></i> Détail de la manifestation</a></li>
                {% include 'events/event_tabs.html' with object=object.manifestation %}
            </ul>
            <div class="tab-content">
                <div id="declaration" class="card  tab-pane fade show active">
                    <ul class="list-group">
                        {% if object.manifestation.creation_date %}
                            <li class="list-group-item">Date de création du dossier : {{ object.manifestation.creation_date }}</li>
                      	{% endif %}
                        <li class="list-group-item">Date d'envoi de la déclaration : {{ object.creation_date }}</li>
                        {% if object.receipt %}
                            <li class="list-group-item">Récépissé de déclaration : <a href="{{ object.receipt.url }}" target='_blank'>{{ object.receipt }}</a></li>
                        {% endif %}
                    </ul>
                </div>
                {% include 'events/event_panel_instructor.html' with object=object.manifestation %}
            </div>
        </div>
        <div class="col-sm-4">
            <div class="card">
                <div class="card-header bg-primary">
                    <i class="action"></i> Actions disponibles
                </div>
                <div class="card-body">
                    <p>Veuillez trouver ici toutes les actions disponibles pour cette manifestation</p>
                <ul class="list-no-style">
                    {% if object.state != 'published' %}
                        <li>
                            <a href="{% url 'events:additional_data_add' manifestation_pk=object.manifestation.id %}" class="btn" role="button">
                                <i class="ajouter"></i> Demander un document complémentaire
                            </a>
                        </li>
                    {% endif %}
                    {% if object.state == 'created' %}
                        <li>
                            <a href="{% url 'declarations:declaration_publish' pk=object.id %}" class="btn" role="button">
                                <i class="recepisse"></i> Publier le récépissé de déclaration
                            </a>
                        </li>
                    {% endif %}
                </ul>
                </div>
            </div>
            {% if user.instructeur %}
                <a href="{% url 'declarations:dashboard' %}" class="btn btn-outline-secondary btn-fill mt-4" role="button"><i class="retour"></i>
                    Tableau de bord des instructions en mairie<i class="tableau-de-bord left-margin"></i></a>
                <a href="{% url 'authorizations:dashboard' %}" class="btn btn-outline-secondary btn-fill mt-3" role="button"><i class="retour"></i>
                    Revenir au tableau de bord <i class="tableau-de-bord left-margin"></i></a>
            {% elif user.agent.mairieagent %}
                <a href="{% url 'declarations:dashboard' %}" class="btn btn-outline-secondary btn-fill mt-4" role="button"><i class="retour"></i>
                    Revenir au tableau de bord <i class="tableau-de-bord left-margin"></i></a>
            {% else %}
                <a href="{% url 'events:dashboard' %}" class="btn btn-outline-secondary btn-fill mt-3" role="button"><i class="retour"></i>
                    Revenir au tableau de bord <i class="tableau-de-bord left-margin"></i></a>
            {% endif %}
        </div>
    </div>
{% endblock %}
