{% load i18n %}

{% if contact %}
    <div class="card-header">
        <i class="telephone"></i> Personne à contacter sur place
    </div>
    <ul class="list-group mb-3">
        <li class="list-group-item">
            {{ contact.first_name|capfirst }} {{ contact.last_name|capfirst }} - {{ contact.phone }}
        </li>
    </ul>
{% endif %}
