{% extends "base.html" %}


{% load i18n %}

{% block head_title %}Sites natura 2000{% endblock %}
{% block page_title %}
    <h1>Sites natura 2000</h1>
{% endblock %}

{% block content %}
    <table class="table">
        <thead>
            <tr>
                <th>Fiche</th>
                <th>Type</th>
                <th>Nom</th>
                <th>Opérateur</th>
                <th>Adresse</th>
                <th>Conservateur</th>
                <th>Téléphone</th>
                <th>E-mail</th>
            </tr>
        </thead>
        <tbody>
            {% for reserve in object_list %}
                <tr>
                    <td>{{ reserve.index }}</td>
                    <td>{{ reserve.get_site_type_display }}</td>
                    <td>{{ reserve.name }}</td>
                    <td>{{ reserve.operateursiten2k.name }}</td>
                    <td>{{ reserve.operateursiten2k.address.first }}</td>
                    <td>{{ reserve.operateursiten2k.person_in_charge.first }}</td>
                    <td>{{ reserve.operateursiten2k.person_in_charge.first.phone }}</td>
                    <td>{{ reserve.operateursiten2k.email|urlize }}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}
