{% extends "base.html" %}

{# load url from future #}
{% load i18n %}

{% block head_title %}
    Tableau de bord instructeur
{% endblock %}

{% block page_title %}
    <h1><i class="tableau-de-bord"></i> Tableau de bord
        <a href="{% url 'authorizations:archives' %}"><span class="float-right badge badge-primary attendre-archive"><i class="archive"></i>Archives</span></a>
        <a href="{% url 'declarations:dashboard' %}"><span class="float-right badge badge-primary"><i class="agent-local"></i>Instruction mairie</span></a></h1>
<br>
<div class="alert alert-info" role="alert">
    Attention :  la plateforme est en cours d'évolution afin de proposer les nouveaux formulaires en lien avec les décrêts 2017. En attendant, les formulaires de la plateforme ont été complété pour prendre en considération tous les éléments requis par la législation.
</div>
{% endblock %}

{% block content %}
    <div. class="row">
    <div class="col-sm-6">
        <h3><i class="autorisation"></i> Autorisations ou déclarations compétitives<br></h3>

        <div class="authorizations-requested">
            <div class="list-group">
                {% for authorization in object_list %}
                    <a class="list-group-item list-group-item-action
                        {% if authorization.state == 'published' %}
                            list-group-item-success
                        {% elif authorization.state == 'dispatched' %}
                            list-group-item-warning
                        {% elif authorization.state == 'created' %}
                            list-group-item-danger
                        {% endif %}
                        "
                       href="{% url 'authorizations:authorization_detail' authorization.id %}">{{ authorization.manifestation.begin_date|date:"d/m/Y" }} : {{ authorization.manifestation }}<br>
                        <small><i class="carto"></i> {{ authorization.manifestation.departure_city }}
                       {% if INSTANCE.get_instruction_mode %}
                            ({{ authorization.manifestation.departure_city.arrondissement }})
                        {% endif %}
                            <span class="pipe_separator"></span><i class="activite"></i> {{ authorization.manifestation.activite }}
                        </small>

                        {% if not authorization.state == 'created' %}
                            {% if authorization.are_avis_validated %}
                                <span class="badge badge-success top-right"><i class="ok-blanc no-right-margin"></i></span>
                            {% else %}
                                <span class="badge badge-secondary top-right">{{ authorization.get_pending_avis_count }}&nbsp; avis manquants</span>
                            {% endif %}
                        {% endif %}
                    </a>
                {% empty %}
                    <a class="list-group-item disabled">Aucune autorisation à gérer</a>
                {% endfor %}
            </div>
        </div>
    </div>
    <div class="col-sm-6">
        <h3><i class="declaration"></i> Déclarations</h3>

        <div class="declarations">
            <div class="list-group">
                {% for declaration in declarations %}
                    <a class="list-group-item list-group-item-action
                        {% if declaration.state == 'published' %}
                            list-group-item-success
                        {% elif declaration.state == 'created' %}
                            list-group-item-danger
                        {% endif %}
                        "
                       href="{% url 'declarations:declaration_detail' declaration.id %}">{{ declaration.manifestation.begin_date|date:"d/m/Y" }}
                        : {{ declaration.manifestation }}<br>
                        <small><i class="carto"></i> {{ declaration.manifestation.departure_city }}
                       {% if INSTANCE.get_instruction_mode %}
                            ({{ declaration.manifestation.departure_city.arrondissement }})
                        {% endif %}
                            <span class="pipe_separator"></span><i class="activite"></i> {{ declaration.manifestation.activite }}
                        </small>

                    </a>
                {% empty %}
                    <a class="list-group-item disabled">Aucune déclaration à gérer</a>
                {% endfor %}
            </div>
        </div>
    </div>
    </div.>
    <div class="row">
        <div class="col-sm-6">
            {% include "notifications/actions_list.html" %}
        </div>
        <div class="col-sm-6">
            {% include "notifications/notifications_list.html" %}
        </div>
    </div>
{% endblock %}
