{% extends "base_form.html" %}

{% load i18n %}
{% load static %}

{% block head_title %}
    Autorisation de manifestation sportive
{% endblock %}

{% block page_title %}
    <h1>
        <i class="autorisation"></i>
 Autorisation de manifestation sportive : {{ object.manifestation|capfirst }}
    </h1>
{% endblock %}
