{% extends "base_form.html" %}

{% load i18n %}

{% block head_title %}Rendre le pré-avis{% endblock %}
{% block page_title %}
    <h1><i class="preavis"></i> Rendre le pré-avis : {{ object.avis.authorization.manifestation|capfirst }}</h1>
{% endblock %}
