{% extends "base_form.html" %}

{% load i18n %}

{% block head_title %}
    Mettre en forme l'avis
{% endblock %}

{% block page_title %}
    <h1><i class="editer"></i> Mettre en forme l'avis : {{ object.authorization.manifestation|capfirst }}
    <i class="preavis left-margin"></i></h1>
{% endblock %}
