{% extends "base_form.html" %}

{% load i18n %}

{% block head_title %}
    Envoyer les demandes de pré-avis
{% endblock %}

{% block page_title %}
    <h1><i class="envoyer"></i>Envoyer les demandes de pré-avis : {{ object.authorization.manifestation|capfirst }}
        <i class="preavis left-margin"></i></h1>
{% endblock %}
