{% extends "agreements/avis_detail.html" %}

{% load i18n %}

{% block agreement_actions %}
    {% if object.state == 'created' and not object.delay_exceeded %}
        <a href="{% url 'agreements:federal_agreement_acknowledge' pk=object.id %}" class="btn" role="button">
            <i class="avis"></i> Rendre l'avis
        </a>
    {% endif %}
{% endblock %}
