{% extends "base.html" %}


{% load i18n static %}

{% block extra_head %}
    <link rel="stylesheet" type="text/css" href="{% static 'libs/DataTables/css/jquery.dataTables.css' %}">
{% endblock %}

{% block extra_js %}
    <script type="text/javascript" charset="utf8" src="{% static 'libs/DataTables/js/jquery.dataTables.js' %}"></script>
    <script type="text/javascript" charset="utf8" src="{% static 'libs/DataTables/js/datetime-moment.js' %}"></script>
{% endblock %}

{% block head_title %}
    Tableau de bord
{% endblock %}

{% block page_title %}
    <h1><i class="tableau-de-bord left-margin"></i> Tableau de bord organisateur
            <a href="{% url 'events:dashboard' %}">
                    <span class="float-right btn btn-primary btn-sm"><i class="historique"></i>Ancienne réglementation</span></a>
    </h1>
{% endblock %}

{% block content %}
    {% if request.user.organisateur.structure %}
    <div class="row">
        <p>
            <a href="{% url 'evenements:creation_evenement' %}" class="btn btn-primary" role="button">
            <i class="ajouter"></i> Déclarer ou demander l'autorisation pour une nouvelle manifestation</a>
        </p>

        <div class="col-12 alert alert-secondary text-center font-weight-bold" role="alert" style="font-size: larger;"><a id="btn_etat_all" href="#"> Mes dossiers</a> </div>

        <div class="col-lg-4 text-center btn_etat_block">
            <span class="d-block mb-3" style="font-size: larger; font-weight: bold;">à envoyer</span>
            <div id="btn_etat_attente" class="btn btn-outline-warning btn_etat_1">
                <div class="btn_etat_icone"> <i class="editer jaune"></i></div>
                <div class="btn_etat_chiffre jaune test_nb_atraiter">{{ non_envoye }}</div>
                <div class="btn_etat_leg"> non envoyées</div>
            </div>
        </div>
        <div class="col-lg-4 text-center btn_etat_block">
            <span class="d-block mb-3" style="font-size: larger; font-weight: bold;">en cours</span>
            <div id="btn_etat_demande" class="btn btn-outline-primary btn_etat_1">
                <div class="btn_etat_icone"> <i class="demandee bleu"></i></div>
                <div class="btn_etat_chiffre test_nb_encours">{{ en_cours }}</div>
                <div class="btn_etat_leg"> en cours d'instruction</div>
            </div>
        </div>
        <div class="col-lg-4 text-center">
            <span class="d-block mb-3" style="font-size: larger; font-weight: bold;">traités</span>
            <div class="d-flex flex-column justify-content-between mx-auto btn_etat btn_etat_block">
                <div id="btn_etat_autorise" class="btn btn-outline-success btn_etat_2 mb-2">
                    <div style="font-size: 40px;">
                        <i class="autorisee"></i><span class="test_nb_auto">{{ autorise }}</span>
                        <span style="font-size: 20px"> autorisées</span>
                    </div>
                </div>
                <div id="btn_etat_interdite" class="btn btn-outline-danger btn_etat_2">
                    <div style="font-size: 40px;">
                        <i class="interdite"></i><span class="test_nb_inter">{{ interdite }}</span>
                        <span style="font-size: 20px"> interdites</span>
                    </div>
                </div>
            {% if annule %}
                <div id="btn_etat_annule" class="btn btn-outline-secondary btn_etat_2 mt-2">
                    <div style="font-size: 40px;">
                        <i class="annulee"></i><span class="test_nb_annul">{{ annule }}</span>
                        <span style="font-size: 20px"> annulées</span>
                    </div>
                </div>
            {% endif %}
            </div>
        </div>
_
        <div id="block_tableaubord_liste" class="mt-3"></div>
    </div>
    {% else %}
        <div class="well">
            <p>Dans un premier temps, veuillez renseigner les informations relatives à la structure organisatrice de la manifestation sportive</p>
        </div>
        <div class="row">
            <div class="col-sm-6">
                <a href="{% url 'events:structure_add' %}" class="btn btn-primary" role="button">
                    Accéder au formulaire de renseignement sur la structure organisatrice
                </a>
            </div>
        </div>
    {% endif %}
    <script>
        $(document).ready(function () {
            $.fn.dataTable.moment( 'DD/MM/YYYY' );
            $.fn.dataTable.moment( 'DD/MM/YYYY HH:mm');
            $('#manif-table').DataTable({
                "paging": false,
                "info": false,
            });
            $('.dataTables_filter').hide();

            $("#search").on("keyup", function () {
                var value = $(this).val().toLowerCase();
                $("#manif-table tr").filter(function () {
                    $(this).toggle($(this).text().toLowerCase().indexOf(value) > -1)
                });
            });


        });
    </script>
    <script>

    const url_tableau_organisateur_liste = "{% url 'evenements:tableau_organisateur_liste' %}";
    </script>
    <script src="{% static 'evenements/js/tableaudebord_orga.js' %}"></script>

    <style>
        .btn_etat_2{
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: start;
            height: 100%;
            border-width: 3px;
            background-color: white;
        }

        .btn_etat_1{
            height: 250px;
            width: 300px;
            border-width: 3px;
            background-color: white;
        }
        .btn_etat{
            height: 250px;
            width: 300px;
        }
        .btn_etat_block>.btn-outline-warning{
            color:black;
        }
        .btn_etat_block>.btn-outline-warning>.btn_etat_txt>.btn_etat_chiffre{
            color:#ffc107;
        }
        .btn_etat_block>.btn-outline-warning:hover{
            background-color: #ffeeba;
            color: inherit;
            cursor: pointer;
        }
        .btn_etat_block>.btn-outline-primary:hover{
            background-color: #bee5eb;
            color: #007bff;
            cursor: pointer;
        }
        .btn_etat_block>.btn-outline-success:hover{
            background-color: #c3e6cb;
            color: #28a745;
            cursor: pointer;
        }
        .btn_etat_block>.btn-outline-danger:hover{
            background-color: #f5c6cb;
            color: #dc3545;
            cursor: pointer;
        }
        .btn_etat_block>.btn-outline-secondary:hover{
            background-color: #d6d8db;
            color: #6c757d;
            cursor: pointer;
        }
        .btn_etat_icone{
            font-size: 50px;
        }
        .bleu{
            color: #007bff !important;
        }
        .jaune{
            color: #ffc107 !important;
        }
        .btn_etat_chiffre{
            font-size: 80px;
        }
        .btn_etat_leg{
            font-size: 20px;
        }
    </style>
{% endblock %}
