{% load crispy_forms_tags %}
{% load i18n verbose_tags %}
{% load static %}


    <script src="{% static 'portail/js/main.js' %}" type="text/javascript"></script>


    <form class="form-horizontal" action="{% url 'evenements:manif_carto' pk=form.instance.id %}" method="post" enctype="multipart/form-data" id="manifestation-form">
        {% if form.target.id %}<input type="hidden" name="id" id="id_id" value="{{ form.target.id }}">{% endif %}
        {% crispy form %}
        {{ form.media }}
        <div class="form-actions">
            <input id="submit-id-save" class="btn btn-primary" type="submit" value="Enregistrer" name="save">
            {% if form.instance.id %}
                <a class="btn btn-danger" id="carto_annul" href="javascript:history.back()">Annuler</a>
            {% endif %}

        </div>
    </form>
    <script src='{% static "portail/js/file-validator.js" %}' type="text/javascript"></script>
    <script src='{% static "libs/autogrow/jquery.ns-autogrow.min.js" %}' type="text/javascript"></script>
    <script src='{% static "portail/js/jquery.liveValidation.js" %}' type="text/javascript"></script>
    <script src='{% static "evenements/js/manifestation_formulaire.js" %}' type="text/javascript"></script>
{#    <script>jQuery.fn.preventDoubleSubmission = function(){}</script>#}
