{% load static i18n file_tags %}


<meta http-equiv="content-type" content="text/html; charset=utf-8">
<div class="head"><img src="{% static 'portail/img/Logo_vert.png' %}"/></div>

<h1>Manifestation : {{ manif }}</h1>




<div>
    <h2>Préavis</h2>
    {% for preavis in liste_preavis %}
        <h3>{{ preavis|capfirst }}</h3>
        <ul class="list-group">
            <li class="list-group-item">Date de demande du pré-avis : {{ preavis.date_demande }}</li>
            {% if preavis.etat == 'rendu' %}
                <li class="list-group-item">Date de rendu du pré-avis : {{ preavis.date_reponse|default_if_none:"Pas encore rendu" }}</li>
                <li class="list-group-item">Favorable : {{ preavis.favorable|yesno|title }}</li>
                <li class="list-group-item">Contenu du pré-avis : {{ preavis.prescriptions|linebreaks }}</li>
            {% else %}
                <li class="list-group-item">Le préavis est en cours d'examen</li>
            {% endif %}
            {% if preavis.docs.all %}
                <div class="mt-2 mb-2">Pièces jointes :</div>
                {% for doc in preavis.docs.all %}
                    <li class="list-group-item"> <a href="{{ doc.fichier.url }}" target="_blank">{{ doc.fichier|basename }}</a></li>
                {% endfor %}
            {% endif %}
        </ul>
    {% endfor %}
</div>


<style>
    @page  {
        size: A4;
        margin: 1cm;
    }
    .head{
        padding: 0.3cm;
    }
    .list-group-item{
        margin: 0.4em;
    }
    .card-header{
      font-weight: bold;

    }


</style>