{% extends "base_form.html" %}

{% load crispy_forms_tags %}
{% load i18n %}
{% load static %}

{% block head_title %}
    Recherche de formulaire
{% endblock %}

{% block page_title %}
    <h1><i class="dossier"></i>Recherche de formulaire</h1>
{% endblock %}

{% block form %}
    <p>Nous allons vous posez quelques questions afin de recherche le formulaire adapté à votre
        manifestation.<br/>
        Puis, vous pourrez débuter la saisie après avoir cliqué sur [ Accéder au formulaire ] tout en bas de cette page.
    </p>
    <form class="form-horizontal" action="" method="post" enctype="multipart/form-data" id="evenement-form" name="evenement-form">
        {% crispy form %}
        {{ form.media }}
    </form>

    <script>
        vtm = false;
        listevtm = {{ vtm }};
        _emprise = {{ emprise|safe }};
    </script>
{% endblock %}

{% block extra_js %}
    <script src='{% static "portail/js/he.js" %}' type="text/javascript"></script>
    <script src='{% static "evenements/js/recherche_creation_formulaire.js" %}' type="text/javascript"></script>
{% endblock %}
