{% load i18n %}

<h3>
    <i class="action"></i> Actions {% if user.instructeur %} Instructeur {% endif %} <i class="ctx-help-actions_notifications_list"></i>
</h3>
<div class="scroll-table">
    <table class="table table-sm table-striped" data-toggle="table" id="action-table">
        <thead>
            <tr>
                <th data-field="date" data-sortable="true" data-sorter="dateSorter">Date</th>
                <th data-field="file" data-sortable="true">Dossier</th>
                <th>Action</th>
            </tr>
        </thead>
        <tbody>
            {% for action in user.actions.in_processing.last_first %}
                <tr>
                    <td>{{ action.creation_date.date|date:"d/m/Y" }}</td>
                    <td>{% if action.manifestation %}{{ action.manifestation }}{% else %}{{ action.manif }}{% endif %}</td>
                    <td>{{ action.action }}</td>
                </tr>
            {% empty %}
                <tr>
                    <td></td>
                    <td></td>
                    <td>Aucune action sur les dossiers en cours</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
</div>