{% load static %}
{#    css et script minimum pour afficher les tooltips à chaque rechargement#}
    <link rel="stylesheet" href="{% static 'libs/bootstrap/css/bootstrap.min.css' %}">
    <link href="{% static 'portail/css/default.css' %}" rel='stylesheet' type='text/css'>

    <script src="{% static 'libs/bootstrap/js/bootstrap.bundle.min.js' %}" type="text/javascript"></script>

    <script src="{% static 'libs/bootstrap/js/bootstrap.bundle.min.js' %}" type="text/javascript"></script>
<a class="badge badge-light no_external" href='{% url "messagerie:boite_principale" %}?cpt=conversation'  data-placement="top" title="Conversation" data-toggle="tooltip"><i class='far fa-comment fa-sm msg_conversation'></i>{{ conversation }} </a>
<a class="badge badge-light no_external" href='{% url "messagerie:boite_principale" %}?cpt=action' title="Demande d'action" data-placement="top" data-toggle="tooltip"><i class='far fa-digging fa-sm msg_action'></i>{{  action }}&nbsp;</a>
<a class="badge badge-light no_external" href='{% url "messagerie:boite_principale" %}?cpt=suivi'  title="Information de suivi" data-placement="top" data-toggle="tooltip"><i class='far fa-bell  fa-sm msg_suivi'></i>{{ info_suivi }}&nbsp;&nbsp;</a>
<a class="badge badge-light no_external" href='{% url "messagerie:boite_principale" %}?cpt=nouveaute' title="Actualité de la plateforme" data-placement="top" data-toggle="tooltip"><i class='far fa-bullhorn  fa-sm nouveaute'></i>{{ news }}</a>