{% load static %}
{% load classname %}



<script>
    var is_instru= {{ instru }};
</script>

<script src="{% static 'aide/contextHelp.jquery.js' %}" type="text/javascript"></script>
<script src="{% static 'messagerie/js/envoi_message.js' %}" type="text/javascript"></script>
<div id="formmail_englobe" style="display: none;">

    <form id="formmail" method="post">
        {% csrf_token %}
    <div id="msg_envoi_alert"></div>
        {% if ad_tech or ad_instance %}{% if not manif %}
            <div style="display: flex; justify-content: space-between"><h3><i class="editer"></i>Écrire un message</h3>
                <div class="ml-1 checkbox checkbox-slider--a"><label><input class="" type="checkbox"   id="actualite_toogle"><span>&nbsp; <i class="actualite"></i> Actualité</span></label></div>
            </div>{% endif %}{% else %}

            <h3><i class="editer"></i>Écrire un message</h3>
        {% endif %}
    <div style="display: flex">
        <div class="msg_envoi_col">
        {% if instru == 1 %}
            <div class="write_bloc desti_block">
            {% if deps and not manif %}
            <select class="chosen-select" id="departement_instru"  data-placeholder="Choisissez un ou plusieurs departement ou laissez vide pour tous les selectionner" name="departement_intru">

                {% for departement in deps %}
                    <option value="{{ departement.pk }}" {% if departement.pk == mydep.pk %}selected{% endif %}>{{ departement.get_name }}</option>
                {% endfor %}

            </select>
                {% endif %}

            </div>

            <div class="write_bloc desti_block" id="type _instru">

                <select id="type_desti", class="chosen-select" name="type_desti" >
                    <option disabled selected value="">Sélectionnez le type destinataire</option>
                {% if manif %}
                    <option value="orga|{{ manif.pk }}">Organisateur de cette manifestation</option>
                    {% else %}
                <option value="orga|new">Organisateurs actifs depuis un an</option>
                <option value="orga|old">Organisateurs inactifs depuis un an</option>
                    {% endif %}
                <option value="service">Services consultés (hors Mairies)</option>
                {% if est_instructeur == 1 %}<option value="mairie">Mairies</option>
                <option value="groupe">Famille d'utilisateur</option>{% endif %}
                </select></div>
            <div class="write_bloc desti_block" style="display: none;" id="service_instru"></div>
            <div class="write_bloc desti_block" id="intru_destinataire" style="display: none"></div>

        {% else %}
            <div class="write_bloc desti_block">
                <select id="carnet" class="chosen-select"   data-placeholder="Choisir un ou plusieurs destinataires" name="destinataires" multiple="multiple">

                    {% for destinataire in carnet %}
                        <option value="{{ destinataire.pk }}">{% if destinataire.get_service or destinataire.get_full_name %}{{ destinataire.get_service }} - {{ destinataire.get_full_name }}{% else %}{{ destinataire.get_full_name }}{% endif %}</option>
                    {% endfor %}
                </select></div>

        {% endif %}
        </div>

        <div class=" msg_envoi_col msg_envoi_col_left">
        <div class="write_bloc"  id="doc_objet_block" ><select id="doc_objet" class="chosen-select" data-placeholder="Choisissez le type de document concerné"  name="doc_objet">
            <option disabled selected value="">Choisissez le type de document concerné</option>
            <option value="dossier">Dossier</option>
            <option value="piece_jointe">Document joint</option>
            {% if not user.organisateur %}
                <option value="avis">Avis</option>
                {% if not instru %}
                    <option value="preavis">Préavis</option>
                {% endif %}
            {% endif %}
            <option value="arrete">Arrêté</option>
            <option value="recepisse">Récépissé</option>
            <option value="aucun">Aucun</option>

        </select></div>
        <div class="write_bloc" id="list_doc_objet" style="display: none;"></div></div></div>
    <div class="write_bloc" id="actu_block" style="display: none">
            {% if ad_tech %}  <select class="chosen-select" id="departement_actu"  data-placeholder="Choisissez un ou plusieurs departement ou laissez vide pour tous les selectionner" name="departement" multiple="multiple">

                {% for departement in deps %}
                    <option value="{{ departement.pk }}">{{ departement.get_name }}</option>
                {% endfor %}

            </select><br><br>{% endif %}
            <select class="chosen-select" id="role_actu" data-placeholder="Choisissez un ou plusieurs roles laissez vide pour envoyer à tout les roles" multiple="multiple" name="role">

                {% for role in roles %}
                    <option value="{{ role.0 }}">{{ role.1 }}</option>
                {% endfor %}

            </select>
        </div>
        <div class="write_bloc">
            <input type="text" class="chosen-single" name="objet" id="msg_objet" placeholder="Titre du message" style="width: 100%"></div>
        <div class="write_bloc">   {{ form.media }} {{ form }}</div>
        <div class="write_bloc">  <button type="submit" value="Envoyer" id="envoi" class="btn btn-info mb-3 mr-2"><i class="envoyer"></i> Envoyer</button><span> Votre message apparaîtra dans votre messagerie et celle de votre/vos correspondants dans quelques instants.</span></div>
    </form>
</div>



<div id="attente_en_cours"><i class="spinner"></i></div>



<style>
    .write_bloc{
        margin-top: 1em;
    }
    .msg_envoi_col{
        width: 50%;

    }
    .msg_envoi_col_left{
        margin-left: 0.5em;
    }
    .chosen-single{
        background-color:white !important;
        background-image: linear-gradient(#eee 1%, #fff 15%) !important;
        height:29px !important;
        border-radius: 0 !important;
        border: 1px solid #aaa;
        color: #333 !important;
        padding: 0 0 0 4px !important;
    }
    .chosen-single::placeholder{
        color: #999 !important;
        opacity: 1;
    }
    .chosen-single>span{
        color:#333;
    }
    .chosen-default>span{
        color:#999 !important
    }

</style>