{% load static urlmanif %}
{#<link href="{% static 'messagerie/css/inbox.css' %}" rel="stylesheet" type="text/css">#}

<script src="{% static 'aide/contextHelp.jquery.js' %}" type="text/javascript"></script>
<script src="{% static 'messagerie/js/liste_message.js' %}" type="text/javascript"></script>

<div id="listmsg" class="">
        <div class="msg_list_head row">
            <div class="col_icon">Type <i class="ctx-help-type_message"></i></div>
            <div class="col_send">Destinataire/Expediteur</div>
            <div class="col_obj">Document | Objet</div>
            {% if not manif %}<div class="col_manif">Manifestation</div>{% endif %}
        </div>
    {% for message in messages %}

        {% if request.user == message.destinataire_id %}
            <div class="msg_header title_msg" id="{{ message.pk }}" style="{% if not message.lu_datetime and message.lu_requis and not message.expediteur_id == request.user %}font-weight: bold;{% else %}color: #555555{% endif %}">
            <div style="display: none" id="date_{{ message.pk }}">{{ message.date|date:'l j F Y' }}</div>

            <div class="row">
                <div class="col_icon" style="align-items: center">
                    <i class="msg_recu"></i>
                    {% if message.type == "conversation" %}<i class="msg_conversation"></i>{% endif %}
                    {% if message.type == "news" %}<i class="actualite"></i>{% endif %}
                    {% if message.type == "action" %}<i class="msg_action"></i>{% endif %}
                    {% if message.type == "info_suivi" %}<i class="msg_suivi"></i>{% endif %}
                    {% if message.type == "tracabilite" %}<i class="msg_tracabilite"></i>{% endif %}

                </div>
                <div class="col_send">De {% if  message.expediteur_txt == "None" %}Manifestation sportive{% else %}{{ message.expediteur_txt }} {% endif %}</div>
                <div class="col_obj">
                    <span class="col_type" >
                        {% if message.doc_objet == "dossier" %}<i class="dossier"></i>{% endif %}
                        {% if message.doc_objet == "piece_jointe" %}<i class="doc"></i>{% endif %}
                        {% if message.doc_objet == "avis" %}<i class="avis"></i>{% endif %}
                        {% if message.doc_objet == "preavis" %}<i class="preavis"></i>{% endif %}
                        {% if message.doc_objet == "arrete" %}<i class="arrete"></i>{% endif %}
                        {% if message.doc_objet == "recepisse" %}<i class="recepisse"></i>{% endif %}
                    </span>

                    {{ message.objet }}
                </div>

                {% if not manif %}{% if message.manifestation == None %}{% else %}<div class="col_manif"><a href="{{ message|urlmanif:user }}">{{ message.manifestation }}</a>{% endif %}{% endif %}
                </div>

            </div>


        {% else %}

            <div class="msg_header title_msg sortant" id="{{ message.pk }}" style="color: #555555;">
            <div style="display: none" id="date_{{ message.pk }}">{{ message.date|date:'l j F Y' }}</div>

            <div class="row" >
                <div class="col_icon" style="align-items: center">
                    <div style="width: 10px; height: 20.4px;"></div>
                    {% if message.type == "conversation" %}<i class="msg_conversation"></i>{% endif %}
                    {% if message.type == "news" %}<i class="actualite"></i>{% endif %}
                    {% if message.type == "action" %}<i class="msg_action"></i>{% endif %}
                    {% if message.type == "info_suivi" %}<i class="msg_suivi"></i>{% endif %}
                    {% if message.type == "tracabilite" %}<i class="msg_tracabilite"></i>{% endif %}
                    <i class="msg_envoye"></i>
                </div>
                <div class="col_send">{% if message.nombre_destinataire == 1 or not message.nombre_destinataire  %}Pour {{ message.destinataire_txt }}{% else %}Pour plusieurs destinataires{% endif %} </div>
                <div class="col_obj">
                    <span class="col_type" >
                    {% if message.get_url_manif_associe %}<a style="color: inherit;" href="{{ message.get_url_manif_associe }}" target="_blank">{% endif %}
                        {% if message.doc_objet == "dossier" %}<i class="dossier"></i>{% endif %}
                        {% if message.doc_objet == "piece_jointe" %}<i class="doc"></i>{% endif %}
                        {% if message.doc_objet == "avis" %}<i class="avis"></i>{% endif %}
                        {% if message.doc_objet == "preavis" %}<i class="preavis"></i>{% endif %}
                        {% if message.doc_objet == "arrete" %}<i class="arrete"></i>{% endif %}
                        {% if message.doc_objet == "recepisse" %}<i class="recepisse"></i>{% endif %}
                        {% if message.get_url_manif_associe %}</a>{% endif %}
                    </span>

                    {{ message.objet }}
                </div>
                {% if not manif %}{% if message.manifestation == None %}{% else %}<div class="col_manif"><a href="{{ message|urlmanif:user }}">{{ message.manifestation }}</a> {% endif %}{% endif %}
                </div>

            </div>

        {% endif %}
    </div>
        <div id="body_{{ message.pk }}" class="message_body"></div>
    {% endfor %}



    </div>

</div>

<script>
    var max_env = {{ max }};
</script>

<style>
    .msg_list_head{
        font-weight: bold;
        margin-top: 1.2em;
        color: #a0aa11;
    }
    .col_icon{
        width: 5%;
        margin-left: 2%;
        display: flex;
    }
    .col_send{
        width: 25%;
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
        height: 20.4px;
    }
    .col_type{
        width: 20px;
    }
    .col_obj{
        width: 25%;
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
        height: 20.4px;
    }
    .col_manif{
        width: 30%;
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
        height: 20.4px;
        margin-left: auto;
        margin-right: 1em;

    }

    .msg_header{
        height: 30px;
        padding: 0.3em;
        margin: 0.1em;
        border-top: #f0f0f0 solid 1px;
    }
    .msg_header_open{
        border-right: #9aa400 solid 1px;
        border-left: #9aa400 solid 1px;
        border-top: #9AA400 solid 1px;
        background-color: #dddddd;
        margin-bottom: 0 !important;
    }
    .msg_header:hover{
        background-color: #dedede;
    }

    .date_msg{
        width: 100%;
        text-align: center;
        border-bottom: 1px solid #9aa400;
        line-height: 0.1em;
        margin: 20px 0 20px;
        color: #9aa400;

    }
    .date_msg span{
        background: #ffffff;
        padding: 0 10px;
    }
    .message_body_open{
        margin:0.1em;
        margin-top: 0;
        padding:0.3em;
        border-right: #9aa400 solid 1px;
        border-left: #9aa400 solid 1px;
        border-bottom: #9AA400 solid 1px;
    }

    .msg_envoye, .msg_recu {
        font-size: 1.4rem;
    }
    .msg_envoye {
        color: #ff008f;
    }
    .msg_recu {
        color: #00d300;
    }

</style>
