{% load static get_item_from_dict %}
{% if fenetre %}

    <link rel="icon" href="/static/portail/img/favicon.ico" />


    <link href="{% static 'libs/chosen/chosen.min.css' %}" rel='stylesheet' type='text/css'>
    <link href="{% static 'libs/fontawesome-pro/css/all.css' %}" rel='stylesheet' type='text/css'>
    <link href="{% static 'libs/bootstrap-switch/dist/css/bootstrap3/bootstrap-switch.min.css' %}" rel='stylesheet' type='text/css'>
    <link href="{% static 'libs/titatoggle/dist/titatoggle-dist-min.css' %}" rel='stylesheet' type='text/css'>
    <link href="{% static 'portail/css/default.css' %}" rel='stylesheet' type='text/css'>

    <script src="{% static 'libs/jquery.min.js' %}" type="text/javascript"></script>
    <script src="{% static 'libs/jquery-ui/jquery-ui.min.js' %}" type="text/javascript"></script>
    <script src="{% static 'libs/bootstrap/js/bootstrap.bundle.min.js' %}" type="text/javascript"></script>
    <script src="{% static 'libs/moment/moment.min.js' %}" type="text/javascript"></script>
    <script src="{% static 'libs/bootstrap-table/dist/bootstrap-table.min.js' %}" type="text/javascript"></script>
    <script src="{% static 'libs/bootstrap-table/dist/bootstrap-table-locale-all.min.js' %}" type="text/javascript"></script>
    <script src="{% static 'libs/chosen/chosen.jquery.min.js' %}" type="text/javascript"></script>
    <script src="{% static 'libs/bootstrap-switch/dist/js/bootstrap-switch.min.js' %}" type="text/javascript"></script>
    <script src="{% static 'aide/contextHelp.jquery.js' %}" type="text/javascript"></script>
    <script src="{% static 'portail/js/jquery.submitProtection.js' %}" type="text/javascript"></script>
    <script src="{% static 'portail/js/jquery-jvectormap-2.0.3.min.js' %}" type="text/javascript"></script>
    <script src="{% static 'portail/js/jquery-jvectormap-fr-merc.js' %}" type="text/javascript"></script>
    <script src="{% static 'portail/js/common.js' %}" type="text/javascript"></script>
    <script src="{% static 'portail/js/main.js' %}" type="text/javascript"></script>
    <script src="{% static 'portail/js/icone.js' %}" type="text/javascript"></script>

    <style>

        body{
            padding-top: 1em !important;
        }
    </style>

{% endif %}

<script src="{% static 'aide/contextHelp.jquery.js' %}" type="text/javascript"></script>
<script src="{% static 'messagerie/js/message.js' %}" type="text/javascript"></script>

<div class="block_msg">
    <div class="">
        <div class="msg_panel">
            {%  if not enveloppe.type == "news" %}
                {% if not old and not new %}
                    {% if not fenetre and destinataires|length > 1 %} <a class="btn_destinataire" id="btn_destinataire" href="#">Pour de multiples destinataires...</a>

                        <div  id="collDestinataires" style="display: none">

                            <p class="">{{ enveloppe.date|date:'d/m/Y H:i' }} <span class="pipe_separator">|</span> {% if fenetre %}De {{ enveloppe.expediteur_txt }} <span class="pipe_separator">|</span> {% endif %}Pour :           {% for destinataire in destinataires %}

                                 {% if organisateur %}
                                     {{ destinataire|get_item_from_dict:"service"}} {% if forloop.last %}{% else %}|{% endif %}
                                {% else %}
                              {{ destinataire|get_item_from_dict:"service"}} {% if destinataire|get_item_from_dict:"utilisateur" %}→ {% for utilisateur in destinataire|get_item_from_dict:"utilisateur" %} {% if utilisateur|get_item_from_dict:"nom"  %}  <span {% if utilisateur|get_item_from_dict:"lu" %}style="color: #97a200;"{% endif %}> {{ utilisateur|get_item_from_dict:"nom" }}{% if forloop.last %}{% else %},{% endif %}</span> {% endif %}{% endfor %}{% endif %} {% if forloop.last %}{% else %}|{% endif %}

                            {% endif %}
                            {% endfor %}
                                <i class="ctx-help-msg_messagerie_destinataire"></i></p>
                        </div>
                    {% else %}
                        <div class="">
                            <p class="">{{ enveloppe.date|date:'d/m/Y H:i' }} <span class="pipe_separator">|</span> {% if fenetre %}De {{ enveloppe.expediteur_txt }} <span class="pipe_separator">|</span> {% endif %}Pour :  {% for destinataire in destinataires %}

                                 {% if organisateur %}
                                      {{ destinataire|get_item_from_dict:"service"}} {% if forloop.last %}{% else %}|{% endif %}
                                {% else %}
                              {{ destinataire|get_item_from_dict:"service"}} {% if destinataire|get_item_from_dict:"utilisateur" %}→ {% for utilisateur in destinataire|get_item_from_dict:"utilisateur" %} {% if utilisateur|get_item_from_dict:"nom"  %}  <span {% if utilisateur|get_item_from_dict:"lu" %}style="color: #97a200;"{% endif %}> {{ utilisateur|get_item_from_dict:"nom" }}{% if forloop.last %}{% else %},{% endif %}</span> {% endif %}{% endfor %}{% endif %} {% if forloop.last %}{% else %}|{% endif %}

                            {% endif %}
                            {% endfor %}
                                <i class="ctx-help-msg_messagerie_destinataire"></i></p>
                        </div>
                    {% endif %}
                {% endif %}
            {% else %}

                <div  id="" >
                    <p class="">{{ enveloppe.date|date:'d/m/Y H:i' }} </p>
                </div>
            {% endif %}
            {% for enve in new %}
                <div style="margin-top: 0.5em;">
                    <div>Le {{ enve.date|date:'d/m/Y H:i' }} | {% if enve.expediteur_id == request.user %}A {{ enve.destinataire_txt }}{% else %}De {{ enve.expediteur_txt }}{% endif %}</div>
                    <div class="msg_body" id="corps_msg_{{ enve.corps.pk }}"  style="  width: {% if fenetre %}500px{% else %}100%{% endif %}; ">{{ enve.corps.corps|safe  }}</div>


                </div>
            {% endfor %}
            {% if old or new %}
                <div style="margin-top: 0.5em;">

                    <div>Le {{ enveloppe.date|date:'d/m/Y H:i' }} | {% if enveloppe.expediteur_id == request.user %}A {{ enveloppe.destinataire_txt }}{% else %}De {{ enveloppe.expediteur_txt }}{% endif %}</div>

                    <div class="msg_body" id="corps_msg_{{ enveloppe.corps.pk }}"  style="  width: {% if fenetre %}500px{% else %}100%{% endif %}; border: 2px black solid; ">{{ enveloppe.corps.corps|safe  }}</div>


                </div>
            {% else %}
                <div>

                    <div class="msg_body" id="corps_msg_{{ enveloppe.corps.pk }}"  style="  width: {% if fenetre %}500px{% else %}100%{% endif %}; ">{{ enveloppe.corps.corps|safe  }}</div>


                </div>
            {% endif %}
            {% for enve in old %}
                <div style="margin-top: 0.5em;">
                    <div>Le {{ enve.date|date:'d/m/Y H:i' }} | {% if enve.expediteur_id == request.user %}A {{ enve.destinataire_txt }}{% else %}De {{ enve.expediteur_txt }}{% endif %}</div>
                    <div class="msg_body" id="corps_msg_{{ enve.corps.pk }}"  style="  width: {% if fenetre %}500px{% else %}100%{% endif %}; ">{{ enve.corps.corps|safe  }}</div>


                </div>
            {% endfor %}
        {% if enveloppe.type == "conversation" and not fenetre and not enveloppe.expediteur_id == request.user  %}
        <button id="repondre_affiche" class="btn btn-info mt-2">Repondre à ce message</button>
        {% endif %}
        <div id="envoi_reponse_div"></div>
        </div>
    </div>

</div>
<script>
    var enve_pk = "{{ enveloppe.pk }}";
</script>
<style>

    .msg_panel{
        padding: 1em;
    }
    .msg_body{
        overflow: auto;
        /*margin-top: 0.8em;*/
        padding: 0.5em;
        border: #ececec solid 1px;
        border-radius: 3px;
        background-color: #f7f6f5;
    }
    .btn_destinataire{
        text-decoration: underline;
        color: inherit;
    }
    .btn_destinataire:hover{
        color: inherit;
    }
</style>




